.portfolio_color-palette {
    color: rgb(216, 226, 238);
    /* #d8e2ee */
    color: rgb(176, 186, 203);
    /* #b0bacb */
    color: rgb(107, 118, 136);
    /* #6b7688 */
    color: rgb(24, 23, 25);
    /* #181719 */
    color: rgb(70, 54, 74);
    /* #46364a */
    color: rgb(48, 54, 148);
    /* #303694 */
}

/* Styles for html and body*/
html {
    height: 100%;
    scroll-behavior: smooth;
}

body{
    height: 100%;
}

/* Styles for Navigation bar*/
.navbar-custom {
    background-color: #d8e2ee;
    margin-bottom: auto;
}

.navbar-brand {
    font-size: x-large;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #303694;
    text-decoration: underline;
}

.navbar-light .navbar-nav .nav-link {
    font-size: large;
}

.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active {
    color: #303694;
    font-weight: bolder;
    transition: 0.5s ease-out;
    letter-spacing: 2px;
}

/* Styles for Home section */
#home {
    padding-top: 60px;
    background-color: #b0bacb;
}

.name-bubble{
    width: fit-content;
    height: fit-content;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}

.hello-name p{
    margin: 0px;
    padding: 0%;
}


/* Styles for Projects section */
#projects {
    padding-top: 60px;
    background-color: #6b7688;
}

/* Styles for Resume section */
#resume {
    padding-top: 60px;
    background-color: #d8e2ee;
}


/* Styles for Skills section */
#skills {
    padding-top: 60px;
    background-color: #b0bacb;
}


/* Styles for about-me section */
#about-me {
    padding-top: 60px;
    background-color: #6b7688;
}


/*Animations for home Section */

/* Animation For hand wave */
.hand-wave {
    padding: 15px 5px 15px 0px;
    animation-name: wave-animation;
    /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;
    /* Change to speed up or slow down */
    animation-iteration-count: infinite;
    /* Never stop waving :) */
    transform-origin: 80% 80%;
    /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    /* Reset for the last half to pause */
    100% {
        transform: rotate(0.0deg)
    }
}